/*Begin Guitar Controller Styling*/
/*This class defines the base attributes of the skin*/

.controller.custom {
	/* Base background image of guitar */
	background: url(https://exemplaryme.github.io/Guitar.png);
	height: 250px;
	width: 741px;
}

.custom .disconnected {
	/* Image for disconnected Guitar */
	background: url(https://exemplaryme.github.io/Guitar_Disconnected.png);
	height: 250px;
	width: 741px;
}

/* This hides the controller's button when disconnected so only the background image remains */ 
.custom.disconnected div {
    display: none;
}

/* The Guitar has 5 Buttons A B X Y and L for the frets 1-5, Green, Red, Yelllow, Blue, Orange */
.custom .a{
    background: url(https://exemplaryme.github.io/Fret1.png);
    height: 27px;
    width: 18px;
    display: block;
    position: absolute;
    top: 112px;
    left: 600px;
}

.custom .a.pressed{
    background: url(https://exemplaryme.github.io/Fret1h.png);
    height: 27px;
    width: 18px;
    display: block;
    position: absolute;
    top: 112px;
    left: 600px;
}

.custom .b{
    background: url(https://exemplaryme.github.io/Fret2.png);
    height: 27px;
    width: 18px;
    display: block;
    position: absolute;
    top: 112px;
    left: 575px;
}

.custom .b.pressed{
    background: url(https://exemplaryme.github.io/Fret2h.png);
    height: 27px;
    width: 18px;
    display: block;
    position: absolute;
    top: 112px;
    left: 575px;
}

.custom .x{
    background: url(https://exemplaryme.github.io/Fret3.png);
    height: 27px;
    width: 18px;
    display: block;
    position: absolute;
    top: 112px;
    left: 550px;
}

.custom .x.pressed{
    background: url(https://exemplaryme.github.io/Fret3h.png);
    height: 27px;
    width: 18px;
    display: block;
    position: absolute;
    top: 112px;
    left: 550px;
}

.custom .y{
    background: url(https://exemplaryme.github.io/Fret4.png);
    height: 27px;
    width: 18px;
    display: block;
    position: absolute;
    top: 112px;
    left: 525px;
}

.custom .y.pressed{
    background: url(https://exemplaryme.github.io/Fret4h.png);
    height: 27px;
    width: 18px;
    display: block;
    position: absolute;
    top: 112px;
    left: 525px;
}

/* Orange Fret as Left Bumper */
.custom .bumper.left.pressed{
    background: url(https://exemplaryme.github.io/Fret5.png);
    height: 27px;
    width: 18px;
    display: block;
    position: absolute;
    top: 112px;
    left: 500px;
}

.custom .bumper.left.pressed{
    background: url(https://exemplaryme.github.io/Fret5h.png);
    height: 16px;
    width: 65px;
    display: block;
    position: absolute;
    top: 112px;
    left: 500px;
}

/* Strum Setup - the start is handled up by up and down */

.custom .dpad.face.up {
	background: url(https://exemplaryme.github.io/StrumUp.png);
	display: block;
    position: absolute;
    top: 120px;
    left: 139px;

}

.custom .dpad.face.up.pressed {
	background: url(https://exemplaryme.github.io/StrumUph.png);
	display: block;
    position: absolute;
    top: 120px;
    left: 139px;

}
