/*Begin Guitar Controller Styling*/
/*This class defines the base attributes of the skin*/

.controller.custom {
	/* Base background image of guitar */
	background: url(https://exemplaryme.github.io/Guitar.png);
	height: 250px;
	width: 741px;
}

.custom .disconnected {
	/* Image for disconnected Guitar */
	background: url(https://exemplaryme.github.io/Guitar_Disconnected.png);
	height: 250px;
	width: 741px;
}

/* This hides the controller's button when disconnected so only the background image remains */ 
.custom.disconnected div {
    display: none;
}

/* The Guitar has 5 Buttons, Orange will be L-Bumper */
.custom .bumpers{
    position: absolute;
    height: 27px;
    width: 18px;
    top: 30px;
    left: 284px;
}

.custom .bumper.left{
    background: url(https://exemplaryme.github.io/Fret5.png);
    height: 27px;
    width: 341px;
    position: absolute;
    top: 100px;
    left: 100px;
}
