/* Begin Guitar Hero LP Controller Styling */

.controller.custom {
	/* Base background image of guitar */
	background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin/Guitar.png);
	height: 250px;
	width: 741px;
}

.custom .disconnected {
	/* Image for disconnected Guitar */
	background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin/Guitar_Disconnected.png);
	height: 250px;
	width: 741px;
}

/* This hides the controller's button when disconnected so only the background image remains */ 
.custom.disconnected div {
    display: none;
}

/* Fret Setup - XInput/360 A Green, B Red, Yellow Y, Blue X, Orange Left Bumper */

.custom .a{
    background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin/Fret1.png);
    height: 27px;
    width: 18px;
    display: block;
    position: absolute;
    top: 112px;
    left: 600px;
}

.custom .a.pressed{
    background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin/Fret1h.png);
    height: 27px;
    width: 18px;
    display: block;
    position: absolute;
    top: 112px;
    left: 600px;
}

.custom .b{
    background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin/Fret2.png);
    height: 27px;
    width: 18px;
    display: block;
    position: absolute;
    top: 112px;
    left: 575px;
}

.custom .b.pressed{
    background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin/Fret2h.png);
    height: 27px;
    width: 18px;
    display: block;
    position: absolute;
    top: 112px;
    left: 575px;
}

.custom .y{
    background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin/Fret3.png);
    height: 27px;
    width: 18px;
    display: block;
    position: absolute;
    top: 112px;
    left: 550px;
}

.custom .y.pressed{
    background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin/Fret3h.png);
    height: 27px;
    width: 18px;
    display: block;
    position: absolute;
    top: 112px;
    left: 550px;
}

.custom .x{
    background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin/Fret4.png);
    height: 27px;
    width: 18px;
    display: block;
    position: absolute;
    top: 112px;
    left: 525px;
}

.custom .x.pressed{
    background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin/Fret4h.png);
    height: 27px;
    width: 18px;
    display: block;
    position: absolute;
    top: 112px;
    left: 525px;
}

.custom .bumper.left{
    background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin/Fret5.png);
    height: 27px;
    width: 18px;
    display: block;
    position: absolute;
    top: 112px;
    left: 500px;
}

.custom .bumper.left.pressed{
    background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin/Fret5h.png);
    height: 27px;
    width: 18px;
    display: block;
    position: absolute;
    top: 112px;
    left: 500px;
}

/* Strum Setup - DPad Up/Down */

.custom .face.up {
	background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin/StrumUp.png);
	height: 16px;
	width:  65px;
	display: block;
    position: absolute;
    top: 110px;
    left: 140px;

}

.custom .face.up.pressed {
	background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin/StrumUph.png);
	height: 16px;
	width:  65px;
	display: block;
    position: absolute;
    top: 110px;
    left: 140px;

}

.custom .face.down {
	background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin/StrumDown.png);
	height: 16px;
	width:  65px;
	display: block;
    position: absolute;
    top: 127px;
    left: 140px;

}

.custom .face.down.pressed {
	background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin/StrumDownh.png);
	height: 16px;
	width:  65px;
	display: block;
    position: absolute;
    top: 127px;
    left: 140px;

}


/* Start & Select/Back Buttons */

.custom .start {
	background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin/Start.png);
	height: 23px;
	width: 22px;
	display: block;
	position: absolute;
	top: 145px;
	left: 34px;
}

.custom .start.pressed {
	background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin/Starth.png);
	height: 23px;
	width: 22px;
	display: block;
	position: absolute;
	top: 145px;
	left: 34px;
}

.custom .back {
	background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin/Select.png);
	height: 20px;
	width: 19px;
	display: block;
	position: absolute;
	top: 131px;
	left: 58px;
}

.custom .back.pressed {
	background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin/Selecth.png);
	height: 20px;
	width: 19px;
	display: block;
	position: absolute;
	top: 131px;
	left: 58px;
}

/* Whammy Set Up - I am not sure how else everyone else is setup, I use a Wiitar and whammy will only work with WiitarThing so I am adding it in, if you have a whammy supported Guitar this should just work */

.custom .stick.right{
	background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin/Whammy.png);
	display: block;
	position: fixed;
	height: 8px;
	width: 92px;
	top: 182px;
	left: 79px;
}


