/* Begin Guitar Hero LP Controller Styling */

.controller.custom {
	/* Base background image of guitar */
	background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin/Guitar.png);
	height: 250px;
	width: 741px;
}

.custom .disconnected {
	/* Image for disconnected Guitar */
	background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin/Guitar_Disconnected.png);
	height: 250px;
	width: 741px;
}

/* This hides the controller's button when disconnected so only the background image remains */ 
.custom.disconnected div {
    display: none;
}

/* Fret Setup - XInput/360 A Green, B Red, Yellow Y, Blue X, Orange Left Bumper */

.custom .a{
    background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin/Fret1.png);
    height: 27px;
    width: 18px;
    display: block;
    position: absolute;
    top: 112px;
    left: 600px;
}

.custom .a.pressed{
    background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin/Fret1h.png);
    height: 27px;
    width: 18px;
    display: block;
    position: absolute;
    top: 112px;
    left: 600px;
}

.custom .b{
    background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin/Fret2.png);
    height: 27px;
    width: 18px;
    display: block;
    position: absolute;
    top: 112px;
    left: 575px;
}

.custom .b.pressed{
    background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin/Fret2h.png);
    height: 27px;
    width: 18px;
    display: block;
    position: absolute;
    top: 112px;
    left: 575px;
}

.custom .y{
    background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin/Fret3.png);
    height: 27px;
    width: 18px;
    display: block;
    position: absolute;
    top: 112px;
    left: 550px;
}

.custom .y.pressed{
    background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin/Fret3h.png);
    height: 27px;
    width: 18px;
    display: block;
    position: absolute;
    top: 112px;
    left: 550px;
}

.custom .x{
    background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin/Fret4.png);
    height: 27px;
    width: 18px;
    display: block;
    position: absolute;
    top: 112px;
    left: 525px;
}

.custom .x.pressed{
    background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin/Fret4h.png);
    height: 27px;
    width: 18px;
    display: block;
    position: absolute;
    top: 112px;
    left: 525px;
}

.custom .bumper.left{
    background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin/Fret5.png);
    height: 27px;
    width: 18px;
    display: block;
    position: absolute;
    top: 112px;
    left: 500px;
}

.custom .bumper.left.pressed{
    background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin/Fret5h.png);
    height: 27px;
    width: 18px;
    display: block;
    position: absolute;
    top: 112px;
    left: 500px;
}

/* Strum Setup - DPad Up/Down */

.custom .face.up {
	background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin/StrumUp.png);
	height: 16px;
	width:  65px;
	display: block;
    position: absolute;
    top: 110px;
    left: 140px;

}

.custom .face.up.pressed {
	background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin/StrumUph.png);
	height: 16px;
	width:  65px;
	display: block;
    position: absolute;
    top: 110px;
    left: 140px;

}

.custom .face.down {
	background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin/StrumDown.png);
	height: 16px;
	width:  65px;
	display: block;
    position: absolute;
    top: 127px;
    left: 140px;

}

.custom .face.down.pressed {
	background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin/StrumDownh.png);
	height: 16px;
	width:  65px;
	display: block;
    position: absolute;
    top: 127px;
    left: 140px;

}


/* Start & Select/Back Buttons */

.custom .start {
	background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin/Start.png);
	height: 23px;
	width: 22px;
	display: block;
	position: absolute;
	top: 145px;
	left: 34px;
}

.custom .start.pressed {
	background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin/Starth.png);
	height: 23px;
	width: 22px;
	display: block;
	position: absolute;
	top: 145px;
	left: 34px;
}

.custom .back {
	background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin/Select.png);
	height: 20px;
	width: 19px;
	display: block;
	position: absolute;
	top: 131px;
	left: 58px;
}

.custom .back.pressed {
	background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin/Selecth.png);
	height: 20px;
	width: 19px;
	display: block;
	position: absolute;
	top: 131px;
	left: 58px;
}

.custom .bumper.right{
	background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin/Whammy.png);
	display: block;
	position: fixed;
	height: 8px;
	width: 92px;
	top: 183px;
	left: 78px;
}

.custom .bumper.right.pressed{
	background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin/Whammyh.png);
	display: block;
	position: fixed;
	height: 8px;
	width: 92px;
	top: 183px;
	left: 78px;
}

/* Whammy Setup - Since the axis position is hard coded in JavaScript we won't map the whammy image to the axis or else it moves and Clone Hero will keep the axis mapping because that's where we need it.

Instead we will map the Whammy and Whammyh to the right-bumper, and in GPV you can re-map the right-stick function and axis to the right-bumper.

We also fix the axis of the right stick whammy by setting the natural position of the whammy as our lowest value, and actually whammying as our highest value.

There are stick options in the generate URL window of GPV, this can also probably be messed around with to not need to remap to another button to get whammy visuals.

The Remapping in GPV is as follow:

https://imgur.com/ohwnjYf.png

However you can change it to whatever you want if you decide to customize this skin or make it better!

 */





