/*Begin Minimal GH Controller Styling*/

/* This is a minimal Guitar Hero overlay, getting rid of the guitar image and just showing our buttons.
*/


.controller.custom {
	/* Base background image of guitar */
	height: 250px;
	width: 741px;
}


/* This hides the controller's button when disconnected so only the background image remains */ 
.custom.disconnected div {
    display: none;
}

/* Fret Setup: Green - A, Red - B, Yellow - X, Blue - Y, Orange - L-Bumper */

.custom .a{
    background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin-min/Fret1.png);
	background-repeat: no-repeat;
    height: 27px;
    width: 18px;
    display: block;
    position: absolute;
    top: 112px;
    left: 600px;
}

.custom .a.pressed{
    background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin-min/Fret1h.png);
	background-repeat: no-repeat;
    height: 27px;
    width: 18px;
    display: block;
    position: absolute;
    top: 112px;
    left: 600px;
}

.custom .b{
    background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin-min/Fret2.png);
	background-repeat: no-repeat;
    height: 27px;
    width: 18px;
    display: block;
    position: absolute;
    top: 112px;
    left: 575px;
}

.custom .b.pressed{
    background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin-min/Fret2h.png);
	background-repeat: no-repeat;
    height: 27px;
    width: 18px;
    display: block;
    position: absolute;
    top: 112px;
    left: 575px;
}

.custom .y{
    background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin-min/Fret3.png);
	background-repeat: no-repeat;
    height: 27px;
    width: 18px;
    display: block;
    position: absolute;
    top: 112px;
    left: 550px;
}

.custom .y.pressed{
    background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin-min/Fret3h.png);
	background-repeat: no-repeat;
    height: 27px;
    width: 18px;
    display: block;
    position: absolute;
    top: 112px;
    left: 550px;
}

.custom .x{
    background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin-min/Fret4.png);
	background-repeat: no-repeat;
    height: 27px;
    width: 18px;
    display: block;
    position: absolute;
    top: 112px;
    left: 525px;
}

.custom .x.pressed{
    background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin-min/Fret4h.png);
	background-repeat: no-repeat;
    height: 27px;
    width: 18px;
    display: block;
    position: absolute;
    top: 112px;
    left: 525px;
}

.custom .bumper.left {
    background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin-min/Fret5.png);
	background-repeat: no-repeat;
    height: 27px;
    width: 18px;
    display: block;
    position: absolute;
    top: 112px;
    left: 500px;
}

.custom .bumper.left.pressed {
    background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin-min/Fret5h.png);
	background-repeat: no-repeat;
    height: 27px;
    width: 18px;
    display: block;
    position: absolute;
    top: 112px;
    left: 500px;
}

/* Strum: Up / Down */

.custom .face.up {
	background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin-min/StrumUp.png);
	background-repeat: no-repeat;
	height: 16px;
	width:  65px;
	display: block;
    position: absolute;
    top: 110px;
    left: 140px;

}

.custom .face.up.pressed {
	background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin-min/StrumUph.png);
	background-repeat: no-repeat;
	height: 16px;
	width:  65px;
	display: block;
    position: absolute;
    top: 110px;
    left: 140px;

}

.custom .face.down {
	background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin-min/StrumDown.png);
	background-repeat: no-repeat;
	height: 16px;
	width:  65px;
	display: block;
    position: absolute;
    top: 127px;
    left: 140px;

}

.custom .face.down.pressed {
	background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin-min/StrumDownh.png);
	background-repeat: no-repeat;
	height: 16px;
	width:  65px;
	display: block;
    position: absolute;
    top: 127px;
    left: 140px;

}


/* Start & Select(Back) Buttons */

.custom .start {
	background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin-min/Start.png);
	background-repeat: no-repeat;
	height: 23px;
	width: 22px;
	display: block;
	position: absolute;
	top: 145px;
	left: 34px;
}

.custom .start.pressed {
	background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin-min/Starth.png);
	background-repeat: no-repeat;
	height: 23px;
	width: 22px;
	display: block;
	position: absolute;
	top: 145px;
	left: 34px;
}

.custom .back {
	background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin-min/Select.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 19px;
	display: block;
	position: absolute;
	top: 131px;
	left: 58px;
}

.custom .back.pressed {
	background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin-min/Selecth.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 19px;
	display: block;
	position: absolute;
	top: 131px;
	left: 58px;
}

/* Whammy mapped to Right Bumper and Right Bumper Pressed to indicate perfect whammying! */

.custom .bumper.right{
	background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin/Whammy.png);
	display: block;
	position: absolute;
	height: 8px;
	width: 92px;
	top: 183px;
	left: 78px;
}

.custom .bumper.right.pressed{
	background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin/Whammyh.png);
	display: block;
	position: absolute;
	height: 8px;
	width: 92px;
	top: 183px;
	left: 78px;
}
