/*Begin Minimal GH Controller Styling*/

/* This is a minimal Guitar Hero overlay, getting rid of the guitar image and just showing our buttons.
*/


.controller.custom {
	/* Base background image of guitar */
	height: 100px;
	width: 100px;
}


/* This hides the controller's button when disconnected so only the background image remains */ 
.custom.disconnected div {
    display: none;
}

/* Fret Setup: Green - A, Red - B, Yellow - X, Blue - Y, Orange - L-Bumper */

.custom .a{
    background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin-min/Fret1.png);
	background-repeat: no-repeat;
    height: 27px;
    width: 18px;
    display: block;
    position: absolute;
    top: 41px;
    left: 3px;
}

.custom .a.pressed{
    background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin-min/Fret1h.png);
	background-repeat: no-repeat;
    height: 27px;
    width: 18px;
    display: block;
    position: absolute;
    top: 41px;
    left: 3px;
}

.custom .b{
    background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin-min/Fret2.png);
	background-repeat: no-repeat;
    height: 27px;
    width: 18px;
    display: block;
    position: absolute;
    top: 41px;
    left: 22px;
}

.custom .b.pressed{
    background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin-min/Fret2h.png);
	background-repeat: no-repeat;
    height: 27px;
    width: 18px;
    display: block;
    position: absolute;
    top: 41px;
    left: 22px;
}

.custom .y{
    background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin-min/Fret3.png);
	background-repeat: no-repeat;
    height: 27px;
    width: 18px;
    display: block;
    position: absolute;
    top: 41px;
    left: 41px;
}

.custom .y.pressed{
    background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin-min/Fret3h.png);
	background-repeat: no-repeat;
    height: 27px;
    width: 18px;
    display: block;
    position: absolute;
    top: 41px;
    left: 41px;
}

.custom .x{
    background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin-min/Fret4.png);
	background-repeat: no-repeat;
    height: 27px;
    width: 18px;
    display: block;
    position: absolute;
    top: 41px;
    left: 60px;
}

.custom .x.pressed{
    background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin-min/Fret4h.png);
	background-repeat: no-repeat;
    height: 27px;
    width: 18px;
    display: block;
    position: absolute;
    top: 41px;
    left: 60px;
}

.custom .bumper.left {
    background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin-min/Fret5.png);
	background-repeat: no-repeat;
    height: 27px;
    width: 18px;
    display: block;
    position: absolute;
    top: 41px;
    left: 79px;
}

.custom .bumper.left.pressed {
    background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin-min/Fret5h.png);
	background-repeat: no-repeat;
    height: 27px;
    width: 18px;
    display: block;
    position: absolute;
    top: 41px;
    left: 79px;
}

/* Strum: Up / Down */

.custom .face.up {
	background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin-min/StrumUp.png);
	background-repeat: no-repeat;
	height: 16px;
	width:  65px;
	display: block;
    position: absolute;
    top: 69px;
    left: 23px;

}

.custom .face.up.pressed {
	background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin-min/StrumUph.png);
	background-repeat: no-repeat;
	height: 16px;
	width:  65px;
	display: block;
    position: absolute;
    top: 69px;
    left: 23px;

}

.custom .face.down {
	background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin-min/StrumDown.png);
	background-repeat: no-repeat;
	height: 16px;
	width:  65px;
	display: block;
    position: absolute;
    top: 79px;
    left: 23px;

}

.custom .face.down.pressed {
	background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin-min/StrumDownh.png);
	background-repeat: no-repeat;
	height: 16px;
	width:  65px;
	display: block;
    position: absolute;
    top: 79px;
    left: 23px;

}



/* Start & Select(Back) Buttons */
/*
.custom .start {
	background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin-min/Start.png);
	background-repeat: no-repeat;
	height: 23px;
	width: 22px;
	display: block;
	position: absolute;
	top: 145px;
	left: 34px;
}

.custom .start.pressed {
	background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin-min/Starth.png);
	background-repeat: no-repeat;
	height: 23px;
	width: 22px;
	display: block;
	position: absolute;
	top: 145px;
	left: 34px;
}
*/

.custom .back {
	background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin-min/Select.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 19px;
	display: block;
	position: absolute;
	top: 70px;
	left: 3px;
}

.custom .back.pressed {
	background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin-min/Selecth.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 19px;
	display: block;
	position: absolute;
	top: 70px;
	left: 3px;
}

/* Whammy mapped to Right Bumper and Right Bumper Pressed to indicate perfect whammying! */

.custom .bumper.right{
	background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin/Whammy.png);
	display: block;
	position: absolute;
	height: 8px;
	width: 92px;
	top: 92px;
	left: 6px;
}

.custom .bumper.right.pressed{
	background: url(https://exemplaryme.github.io/GPV_Skins/guitarskin/Whammyh.png);
	display: block;
	position: absolute;
	height: 8px;
	width: 92px;
	top: 92px;
	left: 6px;
}

/* Pre-mapped gen URL

https://gamepadviewer.com/?p=1&css=https%3A%2F%2Fexemplaryme.github.io%2FGPV_Skins%2Fguitarskin-min%2Fguitarskin-min.css&map=%7B%22mapping%22%3A%5B%7B%22targetType%22%3A%22buttons%22%2C%22target%22%3A%225%22%2C%22disabled%22%3Afalse%2C%22axesConfig%22%3A%7B%22type%22%3A%22trigger%22%2C%22lowValue%22%3A%22-0.7999542355537415%22%2C%22highValue%22%3A%221%22%7D%2C%22choiceOperand%22%3A%22-%22%2C%22choiceType%22%3A%22axes%22%2C%22choice%22%3A%222%22%7D%2C%7B%22targetType%22%3A%22axes%22%2C%22target%22%3A%222%22%2C%22disabled%22%3Atrue%7D%5D%7D

*/
